<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean name = "/managePersons.htm" class = "com.exist.ecc.app.ManagePersonsController" autowire = "byName"/>
	<bean name = "/addPerson.htm" class = "com.exist.ecc.app.AddPersonController" autowire = "byName"/>
	<bean name = "/manageRoles.htm" class = "com.exist.ecc.app.ManageRolesController" autowire = "byName"/>
	<bean name = "/deleteRole.htm" class = "com.exist.ecc.app.DeleteRoleController" autowire = "byName"/>
	<bean name = "/addRole.htm" class = "com.exist.ecc.app.AddRoleController" autowire = "byName"/>

	<bean name = "/springFormTest.htm" class="com.exist.ecc.app.SpringFormTestController"/>

    <bean id = "viewResolver" class = "org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name = "prefix">
            <value>WEB-INF/views/</value>
        </property>
        <property name = "suffix">
            <value>.jsp</value>
        </property>
    </bean>

	<import resource = "classpath:service-beans.xml"/>

</beans>
