<!DOCTYPE web-app PUBLIC
"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>AddPerson</servlet-name>
        <servlet-class>com.exist.ecc.app.personservlets.AddPersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPerson</servlet-name>
        <url-pattern>/AddPerson</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewAllPersons</servlet-name>
        <servlet-class>com.exist.ecc.app.personservlets.ViewAllPersonsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAllPersons</servlet-name>
        <url-pattern>/ViewAllPersons</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FindPerson</servlet-name>
        <servlet-class>com.exist.ecc.app.personservlets.FindPersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindPerson</servlet-name>
        <url-pattern>/FindPerson</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePerson</servlet-name>
        <servlet-class>com.exist.ecc.app.personservlets.DeletePersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePerson</servlet-name>
        <url-pattern>/DeletePerson</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdatePerson</servlet-name>
        <servlet-class>com.exist.ecc.app.personservlets.UpdatePersonServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdatePerson</servlet-name>
        <url-pattern>/UpdatePerson</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewFullPersonDetails</servlet-name>
        <servlet-class>com.exist.ecc.app.personservlets.ViewFullPersonDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewFullPersonDetails</servlet-name>
        <url-pattern>/ViewFullPersonDetails</url-pattern>
    </servlet-mapping>

    <!-- ROLE -->

    <servlet>
        <servlet-name>ViewRoles</servlet-name>
        <servlet-class>com.exist.ecc.app.roleservlets.ViewRolesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewRoles</servlet-name>
        <url-pattern>/ViewRoles</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddRoles</servlet-name>
        <servlet-class>com.exist.ecc.app.roleservlets.AddRolesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddRoles</servlet-name>
        <url-pattern>/AddRoles</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteRoles</servlet-name>
        <servlet-class>com.exist.ecc.app.roleservlets.DeleteRolesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteRoles</servlet-name>
        <url-pattern>/DeleteRoles</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateRoles</servlet-name>
        <servlet-class>com.exist.ecc.app.roleservlets.UpdateRolesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateRoles</servlet-name>
        <url-pattern>/UpdateRoles</url-pattern>
    </servlet-mapping>
</web-app>
