ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	/* position: fixed; */
    top: 0;
    width: 100%;
}

li {
	float: left;
	border-right: 1px solid #bbb;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

li:last-child {
    border-right: none;
}

.navbody {
	margin: 0px;
	width: 100%;
}

.logout {
	background-color: #a8121a;
}

.userTab {
	background-color: #73a5f4;
}
