.error {
	color: #ff0000;
	font-size: 10px;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}

th {
	align-items: center;
	height: 40px;
}

table, th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 15px;
}

td {
	border-left: 1px solid #000;
    border-right: 1px solid #000;
}

html * {
   font-family: Arial;
}

body {
	padding: 0px;
	margin: 0px;
}

.mainWrapper {
	padding-left: 30px;
	padding-right: 30px;
}
